@page "/counter"
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using TSJ_CRI.Data
@using TSJ_CRI.Model
@inject IJSRuntime JS
@inject Form2service form2service
@inject Formservice formservice
@inject UserHRService userHRservice
@inject UserKetidaksesuaianService userketidaksesuaianservice

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="text-align: center;">Silahkan Memilih Claim</h1>
    <p class="lead" style="text-align: center;">pilihan menu memiliki bentuk form dan pengajuan yang berbeda </p>
    <p class="lead" style="text-align: center;">mohon dipastikan terlebih dahulu dan sesuaikan dengan kebutuhan </p>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 d-flex justify-content-center text-center">
                <div class='ones'>
                    <div class='elong'>
                        <div class='first'>
                            <a href='hilangrusak'>Hilang/Rusak </a>
                        </div>
                        <div class='second'>
                            <a class='secondary' href='hilangrusak'>Pergi Ke Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center text-center">
                <div class='three'>
                    <div class='elong'>
                        <div class='first'>

                            <a href='TS'>Pergi Ke Page</a>
                        </div>
                        <div class='second'>
                            <a class='secondary' href='TS'>Tidak Sesuai</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    @code {
        private int currentCount = 0;

        private void IncrementCount()
        {
            currentCount++;
        }


        [CascadingParameter]
        private Task<AuthenticationState> authenticationState { get; set; }

        private async Task DisplayAlert()
        {
            var authState = await authenticationState;
            var message = $"Hello {authState.User.Identity.Name}";
            //await js.InvokeVoidAsync("alert", message);
        }

    }
