@using TSJ_CRI.Authentication
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <AuthorizeView>
            <Authorized>
                <div id="logout_sidebar_button" class="btn btn-light">
                    <a data-toggle="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color:darksalmon;">Logout</a>
                </div>
            </Authorized>
        </AuthorizeView>

    </div>

    <div class="main">
        <div class="top-row px-4">

            <AuthorizeView>
                <Authorized>
                    <div class="col-12">
                        Hello, <b>@context.User.Identity.Name!</b>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="/">Login</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <div class="content px-4">
            <div class="scroll">
                @Body
            </div>
        </div>

        @*modal*@
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="lead"> apakah bapak atau ibu yakin? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">tidak</button>
                        <a @onclick="Logout" href="javascript:void(0)" class="btn btn-primary" role="button" aria-disabled="false">yakin</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task Logout()
    {
        var customAuth = (CustomAuth)authStateProvider;
        await customAuth.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}
