@using TSJ_CRI.Authentication
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<style>
    .sidebar {
        background: linear-gradient(#4595d2, #78b3df );
    }
</style>





        <nav class="navbar navbar-expand static-top" style="background: linear-gradient(#4595d2, #78b3df );">
            
                <div class="navbar-brand mr-1 align-middle">


                    
                    <span class="text-white " style="color: white;">Claim Report - TSJ</span> 
                </div>
            
</nav>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" style="color:white" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" style="color:white" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <AuthorizeView Roles="1,3">
            <Authorized>
                    
                    <li class="nav-item px-3">
                    <NavLink class="nav-link" style="color:white" href="user">
                        <span class="oi oi-person" style="color:white" aria-hidden="true"></span> User
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="1,2">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" style="color:white" href="counter">
                        <span class="oi oi-plus" style="color:white" aria-hidden="true"></span> Pengajuan
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="1,2,3,4,5">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" style="color:white" href="History">
                        <span class="oi oi-inbox" style="color:white" aria-hidden="true"></span> Riwayat
                    </NavLink>
                </li>
                </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="1,3">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" style="color:white" href="Coba">
                        <span class="oi oi-inbox" style="color:white" aria-hidden="true"></span> Coba Upload
                    </NavLink>
                </li>
                </Authorized>
        </AuthorizeView>
    </ul>
</div>



@code {


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
