/*#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 220px;
    }

#wrapper1 {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper1.toggled {
        padding-left: 220px;
    }

#wrapper2 {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#wrapper2.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 190px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    background: #78b3df;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 20px;
    height: 100%;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}*/

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
/*.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
        margin-left: 2px;
    }

        .sidebar-nav li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 3px;
            background-color: skyblue;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }


        .sidebar-nav li:hover {
            background: skyblue !important;
            border: none;
        }

            .sidebar-nav li:hover:before,
            .sidebar-nav li.open:hover:before {
                width: 100%;
                -webkit-transition: width .2s ease-in;
                -moz-transition: width .2s ease-in;
                -ms-transition: width .2s ease-in;
                transition: width .2s ease-in;
                background-color: #fff;
            }

        .sidebar-nav li a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
            margin-top: 10px;
        }

        .sidebar-nav li a1 {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
            padding-top: 20px;
        }

.pemisah {
    padding-top: 15px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav li a1:hover,
.sidebar-nav li a1:active,
.sidebar-nav li a1:focus,
.sidebar-nav li.open a1:hover,
.sidebar-nav li.open a1:active,
.sidebar-nav li.open a1:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: #fff;
}

.sidebar-brand {
    height: 91px;*/
    /* background-color: #4595d2;*/
    /*background: linear-gradient(#4595d2, #78b3df );
    padding-top: 25px;
}

    .sidebar-brand a {
        color: #ddd;
    }

        .sidebar-brand a:hover {
            color: #fff;
            text-decoration: none;
        }

.dropdown-header1 {
    text-align: center;
    font-size: 1em;
    background: #ffffff;
}*/

/*.sidebar-nav .dropdown-menu1 {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-menu1.show {
    top: 0;
}*/
/*Fontawesome icons*/
/*.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}

a[href*="menu.aspx"]::before {
    content: "\f03a  " !important;
}

a[href*="admin_level.aspx"]::before {
    content: "\f148 " !important;
}

a[href*="admin_class.aspx"]::before {
    content: "\f073" !important;
}

a[href*="admin_limit.aspx"]::before {
    content: "\f28d " !important;
}

a[href*="#team"]::before {
    content: "\f0c0" !important;
}

a[href*="#works"]::before {
    content: "\f013  " !important;
}

a[href*="admin_region.aspx"]::before {
    content: "\f041 " !important;
}

a[href*="admin_organization.aspx"]::before {
    content: "\f0e8 " !important;
}

a[href*="admin_user.aspx"]::before {
    content: "\f007 " !important;
}


a[href*="admin_salesgrowth.aspx"]::before {
    content: "\f201" !important;
}

a[href*="admin_top.aspx"]::before {
    content: "\f09d" !important;
}

a[href*="admin_decimal.aspx"]::before {
    content: "\f10c " !important;
}

a[href*="#transaksi"]::before {
    content: "\f0d6" !important;
}

a[href*="menu2.aspx"]::before {
    content: "\f03a " !important;
}

a[href*="#CL"]::before {
    content: "\f067 " !important;
}

a[href*="ncl_period.aspx"]::before {
    content: "\f017 " !important;
}

a[href*="ncl_accidential.aspx"]::before {
    content: "\f0d6" !important;
}

a[href*="#transaksi"]::before {
    content: "\f0d6" !important;
}

a[href*="ncl_downgrade.aspx"]::before {
    content: "\f063 " !important;
}

a[href*="ncl_data.aspx"]::before {
    content: "\f1c0 " !important;
}

a[href*="#report"]::before {
    content: "\f02d " !important;
}

a[href*="ncl_timetable.aspx"]::before {
    content: "\f0ce " !important;
}

a[href*="#transaksi"]::before {
    content: "\ncl_summary.aspx " !important;
}

a[href*="salesgrowth2.aspx"]::before {
    content: "\f201" !important;
}*/

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

/*.hamburger {
    position: absolute;
    margin-top: 10px;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

    .hamburger:hover,
    .hamburger:focus,
    .hamburger:active {
        outline: none;
    }

    .hamburger.is-closed:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom {
        background-color: #fff;
    }

    .hamburger.is-closed .hamb-top {
        top: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed .hamb-middle {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-closed .hamb-bottom {
        bottom: 5px;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-top {
        top: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        background-color: #fff;
    }

    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamburger.is-open:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }

    .hamburger.is-open:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
        margin-left: 190px
    }*/
